<div class="container marjinleft-zero">
  <form class="form-inline">
    <div class="row">
      <div class="form-group">
        <div class="col-md-6 col-sm-12  pading-bottom">
          <label class="label-width">Task</label>
          <input class="form-control" type="text" name="FilterTask" [(ngModel)]="FilterTask" placeholder="Enter the task name" />
        </div>
        <div class="col-md-6 col-sm-12  pading-bottom">
          <label class="label-width">Parent Task</label>
          <input class="form-control" type="text" name="FilterParentTask" [(ngModel)]="FilterParentTask" placeholder="Enter the parent task name"
          />
        </div>
      </div>
    </div>
    <!-- <br> -->
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="form-group  pading-bottom">
          
            <label class="label-width">Priority From</label>
            <input class="form-control priority-width marjin-right10" type="number" name="FilterPriorityFrom" [(ngModel)]="FilterPriorityFrom" />
          
          
            <label class="label-width">Priority To</label>
            <input class="form-control priority-width" type="number" name="FilterPriorityTo" [(ngModel)]="FilterPriorityTo"  />
          
        </div>
      </div>

      <div class="col-md-6 col-sm-12">
        <div class="form-group  pading-bottom">

          <label class="label-width">Start Date</label>
          <input class="form-control date-width marjin-right10" type="text" name="FilterStartDate" [(ngModel)]="FilterStartDate" 
          />

          <!-- <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="FilterStartDate" ngbDatepicker #startDt="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="FilterStartDate.toggle()" type="button"></button>
            </div>
          </div> -->

          <label class="label-width">End Date</label>
          <input class="form-control date-width" type="text" name="FilterEndDate" [(ngModel)]="FilterEndDate" 
          />
          <!-- <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="FilterStartDate" ngbDatepicker #startDt="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="FilterStartDate.toggle()" type="button"></button>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </form>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Task</th>
      <th>Parent Task</th>
      <th>Priority</th>
      <th>Start</th>
      <th>End</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of Tasks | taskfilter : { TaskName: FilterTask, ParentTaskName : FilterParentTask, StartDt : FilterStartDate, EndDt : FilterEndDate } : FilterPriorityFrom : FilterPriorityTo ">
      <td class="hidden">{{ task.TaskId }}</td>
      <td>{{ task.TaskName }}</td>
      <td class="hidden">{{ task.ParentTaskId }}</td>
      <td>{{ task.ParentTaskName }}</td>
      <td>{{ task.Priority }}</td>
      <td>{{ task.StartDt | date }}</td>
      <td>{{ task.EndDt | date }}</td>
      <td>
        <button class="btn btn-info" [routerLink]="['/edit-task', task.TaskId ]" [disabled]="task.TaskStatus=='N'"  >Edit</button>
        <button class="btn btn-danger margin-left" (click)="endTask(task)" [disabled]="task.TaskStatus=='N'">End Task</button>
        <!-- <button class="btn btn-danger margin-left" (click)="deleteTask(task)" > Delete</button>  -->
      </td>
    </tr>
  </tbody>
</table>
